<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SpringBoot.mapper.ErpFactoryMaterialMapper">
    
    <resultMap type="ErpFactoryMaterial" id="ErpFactoryMaterialResult">
        <result property="id"    column="id"    />
        <result property="mId"    column="m_id"    />
        <result property="fId"    column="f_id"    />
        <result property="total"    column="total"    />
        <result property="state"    column="state"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="remark"    column="remark"    />
        <result property="deleteFlag"    column="delete_flag"    />
    </resultMap>

    <sql id="selectErpFactoryMaterialVo">
        select id, m_id, `type`, `name`, f_id, total, state, unit_price, remark, delete_flag from erp_factory_material
    </sql>

    <select id="selectErpFactoryMaterialList" parameterType="ErpFactoryMaterial" resultMap="ErpFactoryMaterialResult">
        <include refid="selectErpFactoryMaterialVo"/>
        <where>  
            <if test="mId != null "> and m_id = #{mId}</if>
            <if test="fId != null "> and f_id = #{fId}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="name != null and name != ''"> and name = #{name}</if>
            <if test="total != null "> and total = #{total}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="unitPrice != null "> and unit_price = #{unitPrice}</if>
            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
        </where>
    </select>
    
    <select id="selectErpFactoryMaterialById" parameterType="Long" resultMap="ErpFactoryMaterialResult">
        <include refid="selectErpFactoryMaterialVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertErpFactoryMaterial" parameterType="ErpFactoryMaterial">
        insert into erp_factroy_material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="mId != null">m_id,</if>
            <if test="fId != null">f_id,</if>
            <if test="total != null">total,</if>
            <if test="state != null">state,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="remark != null">remark,</if>
            <if test="deleteFlag != null">delete_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="mId != null">#{mId},</if>
            <if test="fId != null">#{fId},</if>
            <if test="total != null">#{total},</if>
            <if test="state != null">#{state},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="remark != null">#{remark},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
         </trim>
    </insert>

    <update id="updateErpFactoryMaterial" parameterType="ErpFactoryMaterial">
        update erp_factroy_material
        <trim prefix="SET" suffixOverrides=",">
            <if test="mId != null">m_id = #{mId},</if>
            <if test="fId != null">f_id = #{fId},</if>
            <if test="total != null">total = #{total},</if>
            <if test="state != null">state = #{state},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="deleteFlag != null">delete_flag = #{deleteFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteErpFactoryMaterialById" parameterType="Long">
        delete from erp_factroy_material where id = #{id}
    </delete>

    <delete id="deleteErpFactoryMaterialByIds" parameterType="String">
        delete from erp_factroy_material where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>