<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('产品列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>产品种类：</label>
                                <input id="treeId" name="cId" type="text" hidden/>
                                <input class="form-control" type="text" onclick="selectCategoryTree()" id="treeName" readonly="true">
                            </li>
                            <li>
                                <label>产品编号：</label>
                                <input type="text" name="code"/>
                            </li>
                            <li>
                                <label>产品名称：</label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label>产品规格：</label>
                                <input type="text" name="standard"/>
                            </li>
                            <li>
                                <label>产品型号：</label>
                                <input type="text" name="model"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "business/produce";

        $(function() {
            let options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "产品",
                onDblClickCell: onDblClickCell,
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'cid',
                    title: '类别',
                    formatter: function (value, row, index) {
                       return getNameById(value);
                    }
                },
                {
                    field: 'code',
                    title: '编号'
                },
                {
                    field: 'name',
                    title: '名称'
                },
                {
                    field: 'total',
                    title: '总数'
                },
                {
                    field: 'standard',
                    title: '规格'
                },
                {
                    field: 'model',
                    title: '型号'
                },
                {
                    field: 'unit',
                    title: '产品单位'
                },
                {
                    field: 'cost',
                    title: '成本'
                },
                {
                    field: 'unitPrice',
                    title: '单价'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="selectProduce(\'' + row.code + '\',\'' + row.name + '\')"><i class="fa fa-edit"></i>选择</a> ');
                        actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="selectMaterial(\'' + row.id + '\')"><i class="fa fa-adjust"></i>查看库存</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function onDblClickCell(field, value, row, $element){

            $.modal.openFull('产品详情', prefix+'/detail/'+row['id'],null,null,false);
        }

        // 查询材料库存
        function selectMaterial(id){
            $.modal.open("查看仓库库存", "/business/stock/getStock/" + id, 1200);
            // $.modal.open('材料原件详情', prefix+'/stock/'+row['id'],null,null,false);
        }

        /*产品类别-新增-选择父部门树*/
        function selectCategoryTree() {
            var prefix1 = ctx + "business/kind";
            var options = {
                title: '产品种类选择',
                width: "380",
                url: prefix1 + "/selectCategoryTree/" + $("#treeId").val(),
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }

        function getNameById(id) {
            var name = "";
            $.ajax({
                url: "/business/kind/getNameById/" + id,
                async: false,
                success: function (result) {
                    name = result;
                }
            });
            return name;
        }

        function selectProduce(id, name) {
            parent.setProduce(id, name);
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);//关闭当前页
        }
    </script>
</body>
</html>